.site-layout-content {
  min-height: 280px;
  height: 81.5vh;
  padding: 24px;
  background: rgb(240, 238, 239);
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .component {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-menu.ant-menu-dark .ant-menu-item-active.menuitem {
  background-color: #2c0827; /*Overriden property*/
}
